<header class="app-header navbar">
  <ul class="nav navbar-nav mr-auto">
    <li class="nav-item px-3">
      <h3>ImageCropper</h3>
    </li>
  </ul>
</header>

<div class="app-body">
  <!-- Replacement for "body" of the page -->
  <main class="main">
    <!-- Main div of the page -->
    <ol class="breadcrumb">
      <li class="breadcrumb"><a routerLink="/home" routerLinkActive="active">Home (Select root folder)</a></li>
      <li class="breadcrumb">Select Image</li>
    </ol>

    <div class="container-fluid">
      <div id="ui-view">

      </div>

    </div>
  </main>
</div>